*{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}   
body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(10, 33, 237, 0.7)), url('https://masters-of-code.com/images/header-background-image-min.jpg')no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
}
.nav-brand{
    display: flex;  
    margin: 10px;
    z-index: 300;
}
.nav-brand img{
    width: 50px;
    height: 50px;
}
.nav-brand a{
    font-size: 21px;
    color: #81e0fd;
    padding: 10px;
    letter-spacing: 10px;
    font-weight: normal;
    z-index: 300;
}
.nav-ul{
    width: 450px;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.nav-ul li a{
    color: #27728b;
    transition: all .3s;
    z-index: 300;
}
.nav-ul li a:hover{
    color: #81e0fd;
    transition: all .3s;
}
.header-item{
    width: 940px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 150px;
    padding: 10px;
}
.header-item h1{
    font-size: 60px;
    color: #81e0fd;
    letter-spacing: 10px;
}
.header-buttons{
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-buttons a{
    font-size: 20px;
    color:#81e0fd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.header-free-courses{
    width: 235px;
    height: 50px;
    background: #0a21ed;
    color: #fff;
}
.read-more{
    width: 210px;
    height: 50px;
    border:1px solid #81e0fd;
    transition: all .3s;
}
.read-more:hover{
    background-color: #081abc;
    color: #fff;
    border: 1px solid #0818ad;
    transition: all .5s;
}